@tailwind base;
@tailwind components;
@tailwind utilities;

/* styling the scroll bar */
::-webkit-scrollbar {
    width: 3.5px;
}

::-webkit-scrollbar-track {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}